<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title> GIS Blog </title>
    </head>
    <body>
        <div>
            <h1> GIS Blog </h1>
        </div>

#Add post to site page with these lines; use django templates and tags
        {% for post in posts %}
        <div>
            <h2>{{post.title}}:</h2>
            <p>{{post.text|linebreaksbr}}</p>
            <p>published: {{post.published_date}}</p>
        </div>
        {% endfor %}
    </body>
</html>


